body
{
    background-color: #ffeed0;
    color: black;
}
#logo1
{
    border-radius: 40px;
    margin-top: 20px;
}
.heading
{
    margin-bottom: 10px;
    text-align: center;
    color: #26648e;
    font-size: 70px;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #53d2dc;
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
}

ul li
{
    float: left;
}

ul li a
{
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover
{
    background-color: #4f8fc0;
}

ul li a.active
{
    background-color: #26648e;
}
.Intro
{
    font-size: 25px;
    float: left;
    margin-left: 5cm;
    margin-top: 1cm;
    width: 40%;
}
.Slider
{
    width: 40%;
    float: right;
    margin-right: 2cm;
}
.About
{
    float: left;
    font-size: 20px;
    margin-left: 5cm;
    margin-top: 3cm;
    width: 35%;
}
.Donate
{
    float: right;
    font-size: 20px;
    margin-left: 5cm;
    margin-top: 10cm;
    width: 35%;
}
.video
{
    float: left;
    margin-left: 5cm;
    margin-top: 5cm;
    width: 30%;
}

.Ally
{
    font-size: 20px;
    margin-top: 5cm;
    float: left;
    text-align: center; 
    width: 100%;
}
#slides
{
    width: 100px;
    height: 100px;
    animation: scroll 25s linear infinite;
}
.slide-track 
{
    width: 100%;
    display: flex;
    gap: 3em;
    float: left;
    justify-content: center;
    overflow: hidden;
}
.slider 
{
    margin-top: 10px;
    margin-bottom: 100px;
    background-color: #ffeed0;
    padding: 8em 2em;
}
@keyframes scroll 
{
    0% {transform: translateX(0);}
    100% {transform: translatex(-1000%)}
}
.footer
{
    width: 100%;
    background-color: #26648e;
    color: white;
    float: left;
    bottom: 0;
}
#logo2
{
    padding: 2cm;
    float: left;
}
#social
{
    padding: 2cm;
    float: left;
}
#contact
{
    padding: 2cm;
    float: left;
}
#donate
{
    padding: 2cm;
    float: left;
}